* {
  background-color: #dcdedc;
  font-size: 16px;
}

fieldset {
  padding-bottom: 0;
  padding-top: 0;
}

legend {
  padding-bottom: 0;
  padding-top: 0;
  font-weight: bold;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
}

.selected-text {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0;
  font-size: 11pt;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.empty {
  opacity: 50%;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.list {
  position: absolute;
  width: inherit;
  z-index: 2;
  margin-top: 5px;
  border: 2px solid black;
  border-radius: 10px;
  max-height: calc(100vh - 120px);
  overflow: scroll;
}
.list > li {
  padding: 5px;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.disabled {
  opacity: 10%;
  cursor: default;
}

.selected {
  background-color: #b6bab6;
}
